.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
  position: relative;
  right: 450px;
}

#bulbasaur {
  position: relative;
  top: 30px;
}

#charmander {
  position: relative;
  top: 40px;
}

#squirtle {
  position: relative;
  top: 70px;
}

#pikachu {
  position: relative;
  top: 175px;
}

#jigglypuff {
  position: absolute;
  top: 350px;
}
