* {
  margin: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  height: 80vh;
}

.column-third {
  width: calc(100% / 3);
  height: 100vh;
  display: flex;
  margin: auto;
}

.column-full {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex {
  display: flex;
}

.arrow {
  font-size: 48px;
}

.margin-circle {
  margin: 5px;
}

.flex-column {
  flex-direction: column;
  height: 50px;
}

.border {
  margin: 10px;
  border: 5px solid black;
}

.row-margin {
  width: 65%;
  margin: 10px auto auto auto;
}

.hidden {
  display: none;
}
