.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column-thirds {
  width: calc(100% / 3);
}

.column-fourths {
  width: 25%;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-two-thirds {
  width: calc(200% / 3);
}
